{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Ajouter une prolongation</h1>
        <hr class="my-4">
        {{ form_start(form)}}
        <div class="row">
            <div class="col-lg-8">
                {{form_row(form.arret)}}
            </div>
            <div class="col-lg-4">
                {{form_row(form.type)}}
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-lg-6">
                {{form_row(form.dateIn, {'label': 'Date de début','attr' : {'placeholder': 'Date ...'}})}}
            </div>
            <div class="col-lg-6">
                {{form_row(form.dateOut, {'label': 'Date de fin','attr' : {'placeholder': 'Date ...'}})}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                {{form_row(form.load)}} 
            </div>
        </div>
    </div>

    {% if test == 'Ok' %}
        <div class="container">
            <div class="row">
                <h3>Détails Arret</h3>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>Date fin d'arret : {{arret.dateOut|date("d/m/Y")}}</p>                    
                    {% if arret.VisiteReprise == 0 %}
                        <p>Visite Reprise : Faux</p>
                    {% else %}
                        <p>Visite Reprise : Vrai</p>
                    {% endif %}
                    <table class="table table-condensed">
                        <tr>
                            <th>100%</th>
                            <th>50%</th>
                            <th>Ø</th>
                            <th>Carence</th>
                            <th>Prel Src</th>
                        </tr>
                        <tr>
                            <td>{{ arret.rcent }}</td>
                            <td>{{ arret.rcinquante }}</td>
                            <td>{{ arret.rzero }}</td>
                            <td>{{ arret.rcarence }}</td>
                            <td>{{ arret.prelSource}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-6">
                    <p>Date fin d'arret : {{ArretProvisoire.dateOut|date("d/m/Y")}}</p>
                    {% if ArretProvisoire.VisiteReprise == 0 %}
                        <p>Visite Reprise : Faux</p>
                    {% else %}
                        <p>Visite Reprise : Vrai</p>
                    {% endif %}
                    <table class="table table-condensed">
                        <tr>
                            <th>100%</th>
                            <th>50%</th>
                            <th>Ø</th>
                            <th>Carence</th>
                            <th>Prel Src</th>
                        </tr>
                        <tr>
                            <td>{{ ArretProvisoire.rcent }}</td>
                            <td>{{ ArretProvisoire.rcinquante }}</td>
                            <td>{{ ArretProvisoire.rzero }}</td>
                            <td>{{ ArretProvisoire.rcarence }}</td>
                            <td>{{ ArretProvisoire.prelSource }}</td>
                        </tr>
                    </table>
                    {% if (arret.prevoyance == 0) and (ArretProvisoire.prevoyance == 1) %}
                        <p><b> Attention, un dossier de prévoyance est à prévoir</b></p>
                    {% endif %}
                </div>
            </div>
        </div>

        {{form_row(form.save)}}
    {% endif %}
    {{ form_end(form)}}
{% endblock %}
{% block javascripts %}{% endblock %}