{% extends 'base.html.twig' %}

{% block body %}
   
    <br />
    <div class="jumbotron">
        <h1>Création d'un arrêt</h1>
        <hr class="my-4">
        {{ form_start(form)}}
        <div class="row">
            <div class="col">
                {{form_row(form.DateIn, {'label': 'Date de début','attr' : {'placeholder': 'Date ...'}})}}
            </div>
            <div class="col">
                {{form_row(form.DateOut, {'label': 'Date de fin','attr' : {'placeholder': 'Date ...'}})}}
            </div>
        </div>
        {{form_row(form.employe, {'label': 'Employé'})}}
        {{form_row(form.motif, {'label': 'Type'})}}
        {{form_row(form.load)}}

    </div>

        {% if employe is defined %}
            <div class="jumbotron">
                <div class="col-12">
                        <h3>Repartition pour l'arrêt en cours</h3>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>100%</th>
                                    <th>50%</th>
                                    <th>Ø</th>
                                    <th>Carence</th>
                                    <th>Prel Source</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ arret.rcent }}</td>
                                    <td>{{ arret.rcinquante }}</td>
                                    <td>{{ arret.rzero }}</td>
                                    <td>{{ arret.rcarence }}</td>
                                    <td>{{ arret.prelSource }}</td> 
                                </tr>
                            </tbody>
                        </table>
                        {% if maintien is defined %}
                        <h3>Maintien</h3>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>100%</th>
                                    <th>50%</th>
                                    <th>Ø</th>
                                    <th>Carence</th>
                                    <th>Prel Source</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Avant</td>
                                    <td>{{ arret.maintien.nb100 }}</td>
                                    <td>{{ arret.maintien.nb50 }}</td>
                                    <td>{{ arret.rzero }}</td>
                                    <td>{{ arret.rcarence }}</td>
                                    <td>{{ arret.prelSource }}</td> 
                                </tr>
                                <tr>
                                    <td>Apres</td>
                                    <td>{{ arret.rcent }}</td>
                                    <td>{{ arret.rcinquante }}</td>
                                    <td>{{ arret.rzero }}</td>
                                    <td>{{ arret.rcarence }}</td>
                                    <td>{{ arret.prelSource }}</td> 
                                </tr>
                            </tbody>
                        </table>
                        {% endif %}
                </div>
                <div class="col-4">
                    <p> Anciennete = {{ employe.anciennete }} mois </p>
                    <p> Coeffiecient = {{ employe.coeff.nom }}</p>
                    <p> Nombre de jour = {{ arret.nbreJour }}</p>
                    {% if arret.prevoyance %}
                        <p> Dossier prévoyance = <b>Oui</b></p>
                    {% else %}
                        <p> Dossier prévoyance = Non</p>
                    {% endif %}
                </div>
                <div class='offset-10 col-2'>
                    {{form_row(form.save)}}
                    <button type="submit" class="btn btn-danger">Annuler</button>
                </div>
            </div>
        {% endif %}
        {{form_end(form)}}
{% endblock %}
{% block javascripts %}{% endblock %}