    <table class="table table-hover">
        <tr>
            <th>Employé</th>
            <!--<th>Ancienneté</th>-->
            <th>Nature</th>
            <th>DU</th>
            <th>AU</th>
            <th>Nbre jours</th>
            <th>VM reprise</th>
            <th>Clos</th>
            <th class="text-center">Actions</th>
        </tr>
        {% for arret in arrets %}
        <tr>
            <td> {{ arret.employe.nom ~ ' ' ~ arret.employe.prenom }} </td>
            <!--<td> {{ arret.anciennete }} </td>-->
            <td> {{ arret.motif.nom }} </td>
            <td> {{ arret.dateIn|date("d/m/Y") }} </td>
            <td>
                {% if arret.dateOut %}
                    {{ arret.dateout|date("d/m/Y") }}
                {% endif %}
            </td>
            <td> {{ arret.nbreJour }} </td>
            <td> 
                {% if arret.VisiteReprise %}
                    Vrai
                {% else %}
                    Faux
                {% endif %}
            </td>
            <td>
                {% if arret.Clos == 1 %}
                    Clos
                {% elseif arret.Clos == 2 %}
                    <p style='color:red'>Litige</p>
                {% else %}
                    Actif
                {% endif %}
            </td>
            <td>
                {% if arret.Clos %}
                <!--<button class="btn btn-outline-warning" href="{{ path('IJSS_add', {'arretId': arret.id}) }}" disabled>IJSS</button>-->
                {% else %}
                <a type="button" class="btn btn-outline-success" href="{{ path('prolongation_add', {'arretId': arret.id}) }}">Prolonger</a>
                <a type="button" class="btn btn-outline-warning" href="{{ path('IJSS_add', {'arretId': arret.id}) }}">IJSS</a>
                {% endif %}
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#arretInfoModal" data-arret="{{ arret.id }}">Détails</button>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#arretComModal" data-arret="{{ arret.id }}">Comm</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if pager.haveToPaginate %}
    <div class="col-6 offset-3">
        <ul class="pagination">
            {# pages 1 2 3 ... #}
            {% if pager.getCurrentPage()<=4 %}
                {% for givenPage in 1..pager.getCurrentPage()+2 %}
                    {% set state = '' %}
                    {% if  pager.getCurrentPage()  == givenPage %}
                        {% set state = 'active' %}
                    {% endif %}
                    <li class="page-item {{ state }}"><a class="page-link" onclick="changerPageFiltre({{ givenPage }})"> {{ givenPage }}</a></li>
                {%  endfor %}
                <li class="page-item disabled">...</li>
                <li class="page-item active"><a class="page-link" onclick="changerPageFiltre({{ pager.getNbPages()}})">{{pager.getNbPages()}}</a></li>
            {% elseif pager.getCurrentPage() >= pager.getNbPages()-2 %}
                <li class="page-item active"><a class="page-link" onclick="changerPageFiltre(1)">1</a></li>
                <li class="page-item disabled">...</li>
                {% for givenPage in pager.getCurrentPage()-2..pager.getNbPages() %}
                    {% set state = '' %}
                    {% if  pager.getCurrentPage()  == givenPage %}
                        {% set state = 'active' %}
                    {% endif %}
                    <li class="page-item {{ state }}"><a class="page-link" onclick="changerPageFiltre({{ givenPage }})"> {{ givenPage }}</a></li>
                {%  endfor %}
            {% else %}
                <li class="page-item active"><a class="page-link" onclick="changerPageFiltre(1)">1</a></li>
                <li class="page-item disabled">...</li>
                {% for givenPage in pager.getCurrentPage()-2..pager.getCurrentPage()+2 %}
                    {% set state = '' %}
                    {% if  pager.getCurrentPage()  == givenPage %}
                        {% set state = 'active' %}
                    {% endif %}
                    <li class="page-item {{ state }}"><a class="page-link" onclick="changerPageFiltre({{ givenPage }})"> {{ givenPage }}</a></li>
                {%  endfor %}
                <li class="page-item disabled">...</li>
                <li class="page-item active"><a class="page-link" onclick="changerPageFiltre({{ pager.getNbPages()}})">{{pager.getNbPages()}}</a></li>
            {% endif %}
        </ul>
        </div>
    {% endif %}

    {# pagerfanta(pager, 'twitter_bootstrap', { 'proximity': 5}) #}